article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #444;
}
li{
    list-style: none;
}
.clearfix { 
*zoom: 1; 
} 
.clearfix:before, 
.clearfix:after { 
display: table; 
line-height: 0; 
content: ""; 
} 
.clearfix:after { 
clear: both; 
} 

// input样式
.Hinput{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    line-height: 48px;
    padding-left: 10px;
    color: #555;
    box-shadow: none;
    border: 0;
    outline:none;
    border: 1px solid #eee;
}
// button样式
.Hbutton{
    box-shadow: none;
    border: 0;
    background: #0f88eb;
    color: #fff;
    line-height: 41px;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background: #0065bb;
    }
}



